<footer class="foot clearfix">
	<small>	<%=link_to 'Dashboard', root_path%></small>
	<nav>
		<ul>
			<li><%=link_to 'About', '#'%></li>
			<li><%=link_to 'Contact', '#'%></li>
		</ul>
	</nav>
<div class="clearfix"></div>
</footer>